{% extends "base.html" %}

{% block app_content %}

  <h1 style="text-align: center;"><b> Лабораторна робота №2</b></h1>
  <h2 style="text-align: center;"> Відтворення функціональних залежностей у задачах розкриття
концептуальної невизначеності</h2>



  <div style="text-align: center;"><a href="{{ url_for('index') }}" style="font-size:2.5em;">Головна</a> <a href="{{ url_for('result') }}" style="font-size:2.5em; margin-left: 5em">Отримані результати</a> <a href="{{ url_for('graphic') }}" style="font-size:2.5em; margin-left: 5em;color: #F9690E;">Графіки</a></div>

  <h3 style="text-align: center;"> Можливо потрібно трохи зачекати</h3>

  <h3 >Error normalised (Y - F)</h3>
  <table class="table table-striped">

              <tr>
                {% for value in error[0]%}
                  <td>{{ value }}</td>
                {% endfor %}
              </tr>

    </table>

  {%for i in range_index%}
    <iframe src="{{url_for('graph', num=i)}}" frameborder=0 style="width: 100%; height:50em; "></iframe>
  {%endfor%}




{% endblock %}
