{% extends "base.html" %}

{% block app_content %}

  <h1 style="text-align: center;"><b> Лабораторна робота №2</b></h1>
  <h2 style="text-align: center;"> Відтворення функціональних залежностей у задачах розкриття
концептуальної невизначеності</h2>
<form method=POST enctype=multipart/form-data >
<div class="row" style="margin-top: 1em">
  <div class="col-sm-3">
    <h3><b>Вхідні дані</b></h3>

    <h4 style="margin-top:1em">Розмір вибірки </h4>
    <input type="text" name="sample_size" class="form-control" id="sample_size" placeholder="45" style="max-width: 4em; margin-top: -2.7em; margin-left: 10em;">

    <h4>Завантажити файл </h4>
    <input type=file name=file class="btn-lg" style="margin-left: -1em; margin-bottom: 0em;">

  </div>

  <div class="col-sm-3">
    <h3><b>Вектори</b></h3>
    <h4>Розмірність векторів</h4>

    <h4 style="margin-top:1em">Для X1 </h4>
    <input type="text" name="vec_size_1" class="form-control" id="vec_size_1" placeholder="2" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">

    <h4 style="margin-top:1em">Для X2 </h4>
    <input type="text" name="vec_size_2" class="form-control" id="vec_size_2" placeholder="2" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">

    <h4 style="margin-top:1em">Для X3 </h4>
    <input type="text" name="vec_size_3" class="form-control" id="vec_size_3" placeholder="3" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">

    <h4 style="margin-top:1em">Для Y </h4>
    <input type="text" name="vec_size_4" class="form-control" id="vec_size_4" placeholder="4" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">
  </div>

  <div class="col-sm-3">
    <h3><b>Поліноми</b></h3>
    <h4>Вигляд поліномів</h4>
    <div class="radio" style="font-size: 1.3em; margin-left: -1em;">
       <input id="radio-1" name="type_polinom" type="radio" value='0' checked>
       <label for="radio-1" class="radio-label"  id="option1" autocomplete="off">Чебишова</label>
    </div>

    <div class="radio" style="font-size: 1.3em; margin-left: -1em; margin-top: 0.5em">
       <input id="radio-2" name="type_polinom" type="radio" value='1'>
       <label for="radio-2" class="radio-label"  id="option2" autocomplete="off">Лежандра</label>
     </div>

     <div class="radio" style="font-size: 1.3em; margin-left: -1em; margin-top: 0.5em">
       <input id="radio-3" name="type_polinom" type="radio" value='2'>
       <label for="radio-3" class="radio-label"  id="option3" autocomplete="off">Легерра</label>
     </div>

     <div class="radio" style="font-size: 1.3em; margin-left: -1em; margin-top: 0.5em">
       <input id="radio-4" name="type_polinom" type="radio" value='3'>
       <label for="radio-4" class="radio-label"  id="option4" autocomplete="off">Ерміта</label>
     </div>
   </div>

   <div class="col-sm-3">
     <h3><b>Поліноми</b></h3>
     <h4>Степені поліномів</h4>

     <h4 style="margin-top:1em">Для X1 </h4>
     <input type="text" name="degree_1" class="form-control" id="degree_1" placeholder="15" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">

     <h4 style="margin-top:1em">Для X2 </h4>
     <input type="text" name="degree_2" class="form-control" id="degree_2" placeholder="15" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">

     <h4 style="margin-top:1em">Для X3 </h4>
     <input type="text" name="degree_3" class="form-control" id="degree_3" placeholder="15" style="max-width: 4em; margin-top: -2.7em; margin-left: 6em;">
    </div>

</div>

<div class="row" style="margin-top: 1em">

    <div class="col-sm-4" >
      <h3><b>Додатково</b></h3>
      <h4>Ваги цільових функцій</h4>

      <div class="radio orange_radio" style="font-size: 1.3em; margin-left: -1em; ">
         <input id="radio-6" name="coef_weight" type="radio" value='1' checked>
         <label for="radio-6" class="radio-label"  id="option1" autocomplete="off">Через максимум та мінімум</label>
      </div>

      <div class="radio orange_radio" style="font-size: 1.3em; margin-left: -1em; margin-top: 0.5em">
         <input id="radio-5" name="coef_weight" type="radio" value='0'>
         <label for="radio-5" class="radio-label"  id="option1" autocomplete="off">Середнє арифметичне</label>
      </div>

      <div class="form-check" style="margin-top: 0.7em">
        <input type="checkbox" class="form-check-input"  name="find_lambda" id="check_BaseLine"  value='on'>
        <label class="form-check-label" for="find_lambda"><h4>Визначити Lambda з систем рівнянь</h4></label>
      </div>


    </div>

    <div class="col-sm-4" >
      <h3><b>Додатково</b></h3>
      <!--
      <h4>Метод оптимізації</h4>
    -->
      <label for="Form_Select_method"><h4>Метод оптимізації</h4></label>
      <select class="form-control" id="Form_Select_method" name="method" style="width: 260px; font-size:1.15em">
        <option  value="cjg" name="method" selecte>Метод спряжених напрямків</option>
        <option  value="lsq" name="method">Метод найменших квадратів</option>

      </select>
    </div>

</div>

<div class="row" style="text-align:center; margin-top: 1em" >
  <input type=submit class="btn-green btn" value="Виконати" style="margin-top: 1em; ">
</div>

</form>



{% endblock %}
