@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/*Page styles*/
/* html { height: 100%; } */

/* body {
  height: 100%;
  margin: 0;

  display: -webkit-flex;
  display: flex;
  align-items: center;
} */

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 40px;
  margin-bottom: 30px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  color: #96c03d; 
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: none;
  width: 20px;
  height: 20px;
  border: 3px solid #96c03d; 
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  display: block;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}