
.header_logo img {
  float: left;
  width: 75px;
  height: 75px;
}

.header_logo h1 {
  position: relative;
  font-size: 48px;
  top: 10px;
  left: 10px;
}

ol, ul {
	list-style: none;
}

.nav_block {
  font-style: normal;
	vertical-align: baseline;
}


.nav_block a:link {
    font-style: normal;
    text-decoration: none;
}

.nav_block a:visited {
    text-decoration: none;
    font-style: normal;
}

.nav_block a:hover {
    text-decoration: none;
    font-style: normal;
}

.nav_block a:active {
    text-decoration: none;
    font-style: normal;
}
